
.login_bg_wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("/dominum/backGround/bg-login.jpg");
  background-size: cover;
  background-position: center;
}

.login_title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: orange;
  font-size: 24px;
  margin-top: -10px;
  margin-bottom: 80px;
}

.login_text {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #09ed7b;
}

.login_inner {
  display: flex;
  flex-direction: column;
  flex: 1; 
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  padding-bottom: 60px;
}

