.login_title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: orange;
  font-size: 24px;
}

.login_text {
  font-size: 18px;
}

.login_bg_wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("/dominum/backGround/bg-login-2.jpg");
}
