.home_page {
  background-image: url('../../assets/workering.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 95%;
  height: 96vh;
  display: flex;
  flex-direction: column;
}